.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.blogShort {
    border-bottom: 1px solid #ddd;
}

.add {
    background: #333;
    padding: 10%;
    height: 300px;
}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.nav-sidebar .active a {
    cursor: default;
    background-color: #34ca78;
    color: #fff;
}

.nav-sidebar .active a:hover {
    background-color: #37D980;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius: 0;
    margin-bottom: 10px
}

.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color: #34ca78;
    border-color: #34ca78;
}

h2 {
    color: #34ca78;
}

.margin10 {
    margin-bottom: 10px;
    margin-right: 10px;
}


.header {
    color: white;

}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.articlefont {
    font-weight: bold;

}

#blog {
    margin-top: 300px;
}

.news-card {
    margin-left: 50px;
    margin-bottom: 10px;
    max-width: 300px;
    width: 300px;
}

.pin-card {
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 200px;
    max-height: 320px;
}

.news-card.card {
    height: 365px;
}

.pin-card.card {
    width: 300px;
}

.card-footer-badge {
    font-size: 1rem;
}

.seperator {
    color: black;
    margin-top: 100px;
    height: 3px;
    background-color: black;
    border-color: black;
}


#text {
    font-size: 10px;
    font-weight: bold;
}

#highlight {
    font-size: 10px;
    font-weight: bold;
    color: crimson;
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    bottom: 125px;
}

.buttondiv {
    position: absolute;
    bottom: 5px;
    right: 25%;

}

.buttondiv1 {
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    bottom: 100px;
}

.article-container {
    overflow: auto;
}

.view-badge {
    top: 10px;
    left: 10px;
}

.article .content{
    font-size: 1em;
}

.new-badge{
    bottom: 70px;
    left: 5px;
}

.notification{
    width: 30%;
    margin-left: 35%;
    top:50px;
    cursor: pointer;
    user-select: none;
}

@keyframes fadeIt {
    0%   { background-color: #FFFFFF; }
    50%  { background-color: #ffdc75; }
    100% { background-color: #FFFFFF; }
}

.new-animation{
    animation: fadeIt 10s ease-in-out;
}